{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Styles block -->

{% block content %}
<div class="container">
<div class="container-fluid mt-3">
 <p>Do you want to write a pitch. Sign up <a href="auth/register">here</a></p>

 <p>Already signed in? Write a pitch <a href="/new">here</a>.</p>
 <div class="row">
   {{macro.displayPitchList(pitches)}}
 </div>
</div>

<h1>Perfect pitches</h1>

{% for pitch in all_pitches%}

<p class="card-title">Title: {{pitch.title}}</p>
<p class="card-text">Category: {{pitch.category}}</p>
<p class="card-text">Pitch: {{pitch.pitch}}</p>
<p class="card-text">Author: {{pitch.author}}</p>
<p><a href="/new/comment/">Comment</a></p>
<br>

</div>
{% endfor %}
{% endblock%}