{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Styles block -->

{% block content %}
<div class="container">
    <h1>Perfect pitches</h1>
<div class="container-fluid mt-3">
 <p>Please sign up <a href="auth/register">here</a> to add a pitch</p>
 <p>Already signed in? Write a pitch <a href="/new">here</a>.</p>
</div>
 <div class="row">

   {{macro.displayPitchList(pitches)}}




{% for pitch in all_pitches%}
<div class="container">
    <div class="row">
      <div class="col-sm">
<p class="card-title">Title: {{pitch.title}}</p>
<p class="card-text">Category: {{pitch.category}}</p>
<p class="card-text">Pitch: {{pitch.pitch}}</p>
<p class="card-text">Author: {{pitch.author}}</p>

<p><a class="btn btn-light btn-xl sr-button" href="{{url_for('main.add_comment',id = pitch.id)}}"> Add comment here</a></p> 

</div>
</div>
</div>

<!-- </div> -->
{% endfor %}
{% endblock%}