{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Styles block -->

{% block content %}
<div class="container-fluid mt-3">
 <p>Do you want to write a pitch. Sign up <a href="auth/register">here</a></p>

 <p>Already signed in? Write a pitch <a href="/new">here</a>.</p>
 <div class="row">
   {{macro.displayPitchList(pitches)}}
 </div>
</div>

{% for pitch in all_pitches%}

<h5 class="card-title">{{pitch.title}}</h5>
<p class="card-text">{{pitch.category}}</p>
<p class="card-text">{{pitch.pitch}}</p>


{% endfor %}
{% endblock%}