{% macro displayMovieList(movie_list) %}
<!-- 
    {% for movie in movie_list %}
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card">
            <img src="{{ movie.poster }}" alt="{{ movie.title }} poster" class="img-responsive">
            <li class="text-center">
                <a href="/movie/{{movie.id}}">
                    {{ movie.title|truncate(10)}}</a>
            </li>
        </div>

    {% endfor %}

{% endmacro %} -->

<!-- Displaying pitchs macro -->
<div class="container">
    {% macro displayPitches(pitch_list) %}
        {% for pitch in pitch_list %}
        <div class="row">
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">
            <h2> {{ pitch.title}} </h2>
          </div>
          <div class="panel-body">
            <p> {{ pitch.pitch }}</p>
        </div>
      </div>
    </div>
        {% endfor %}
    {% endmacro %}
    </div